html
  head
    title='Sandeep first demo app'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello ISG and Clinical team!!!
        p This is the First app to be containerized.
        p 
